body {
    font-family: 'open sans';
    overflow-x: hidden; }

#containerDiv{
  background-color: rgba(0, 0, 0, 0.7);
}

  img {
    max-width: 100%; }
  .tab-content {
    overflow: hidden; }

  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
    .add-to-cart, .like {
      padding: 1.2em 1.5em;
      border: none;
      text-transform: UPPERCASE;
      font-weight: bold;
      color: #fff;
     }
    .add-to-cart:hover, .like:hover {
        background:firebrick;
        color: #fff; }
     .product-style,.product-qty,.action{
        margin-top:10px;
        }
 @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }

  @media screen and (min-width: 997px) {


  .product-title, .price {
    text-transform: UPPERCASE;
    font-weight: bold;
    color: white;
  }
    p{
      color: white;
    }

    #pic-1{
      align-content: center;
      align-items: center;
     text-align: center;
    }


  .product-title, .product-description {
    margin-bottom: 15px;
    color: white;}

  .product-title {
    margin-top: 0;
    color: white;}

    }

