<div class="container">
  <div class="row" id = "myBg">
    <div class="panel-title col-md-12 text-center">
      <h4 class="text-danger  text-center mt-5 m-auto">Deliver to</h4><br>
    </div>
    <form class="panel-body col-md-12 m-auto" [formGroup]="myForm" (ngSubmit)="onSubmit()" [action]="['../payment']">
      <div class="row">
        <div class="left col-md-5 ml-md-5">
          <strong>First Name:</strong>
          <input type="text" name="first_name" class="form-control mb-3 mt-3" placeholder="First Name" formControlName="firstName"/>
          <strong>Last Name:</strong>
          <input type="text" name="last_name" class="form-control mb-3 mt-3" placeholder="Last Name" formControlName="lastName"/>
          <strong>Address Line1:</strong>
          <input type="text" name="address" class="form-control mb-3 mt-3" placeholder="Street/Avenue" formControlName="address1" />
          <strong>Address Line2:</strong>
          <input type="text" class="form-control mb-3 mt-3" name="apt" placeholder="Apt/House no." formControlName="address2"/>
        </div>
        <div class="panel-right col-md-5 ml-md-5">
          <strong>City:</strong>
          <input type="text" name="city" class="form-control mb-3 mt-3" placeholder="City" formControlName="city"/>
          <strong>State:</strong>
          <input type="text" name="state" class="form-control mb-3 mt-3" placeholder="State" formControlName="state" />
          <strong>Zip / Postal Code:</strong>
          <input type="text" name="zip_code" class="form-control mb-3 mt-3" placeholder="02115" formControlName="zip" />
          <strong>Phone:</strong>
          <input type="text" name="phone" class="form-control mb-3 mt-3" placeholder="617xxx9654" formControlName="phone" />
        </div>
        <br><br>
        <!--<a [routerLink]="['../payment']" class="mx-auto my-3">-->
        <button type="submit" class="btn btn-primary btn-submit-fix btn-lg btn-success mx-auto" [disabled]="!myForm.valid">Proceed to Pay</button>
        <!-- [disabled]="!myForm.valid" -->
        <!--</a>-->
        <br><br><br>
      </div>
    </form>

  </div>
</div>
