<div class="order">
  <h4><p>Hello,
    <b>{{userAccountService.user.firstName}} {{userAccountService.user.lastName}}</b>
  </p></h4>
  <p>You can review your orders, by clicking on View.</p>

  <h4>Your Orders :</h4><br>
  <div class="row" id="myBg">
    <div class="col-md-12">
      <table class="table table-condensed">
        <thead>
        <tr>
          <td>
            <strong>Order Number</strong>
          </td>
          <td class="text-center">
            <strong>Order Date</strong>
          </td>
          <td class="text-center">
            <strong>View</strong>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orderList;let i = index">
          <td>{{this.userAccountService.user.orderList[i].substring(0,6)}}</td>
          <td class="text-center">{{order.orderDate | date: "M/d/y HH:mm"}}</td>
          <td class="text-center">
            <a [routerLink]="['..', this.userAccountService.user.orderList[i]]">
              <button type="submit" class="btn btn-primary">view</button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div><br><br>
  <h4>Thankyou for shopping with us!!!</h4>
</div>
